<html>
<head>
<title>School title</title>
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
</head>
<body>
<header>
 <a href="#">School Name</a>
</header>
<nav>
    <ul>
        <li>
            <a href="#">MenuItem 1</a> 
        </li>
        <li>
            <a href="#">MenuItem 2</a> 
        </li>
        <li>
            <a href="#">MenuItem 3</a> 
        </li>
        <li>
            <a href="#">MenuItem 4</a> 
        </li>
        <li>
            <a href="#">MenuItem 5</a> 
        </li>
    </ul>
</nav>


<footer>
All rights reserved &copy Malhar Vora
</footer>
</body>
</html>
