body {
    margin:0;
 }

/************ header ***********/
 header {
    background-color:#990000;
    height:17%;
    padding-left:10px;
    padding-top:15px;
 }

 header a {
    font-size:45px;
    font-weight:bold;
    color:white;
    text-decoration:none;
 }

/********** navigation *********/

 nav {
    width:100%;
    background-color:#f2f1eb
 }
 
 nav ul li {
    float:left;
    display:inline;
    padding-left:5px;
    padding-right:5px;
    
 }

 nav ul li a {
    text-decoration:none;
    font-size: 1.4em;
    font-weight: 300;
    margin-right: 30px;
 }

/************ footer ***********/
 
 footer {
    text-align: center;
    background-color:#990000;
    padding-top:50px;
    color:white;

 }
