
body {
    font-family: "Century Gothic",Arial,Verdana;
    font-size: 14px;
    padding-top: 50px;
}
a {
    color: #77933c;
}
a:hover {
    color: #000;
}
.main-header {
    background-color: #8c1515;
}
.main-header .navbar-default {
    background-color: #8c1515;
    border: 0 none;
    margin: 0;
    padding: 10px 0;
}
.main-header .navbar-default .navbar-brand {
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    height: 60px;
    margin: 0;
    padding: 16px 0;
}

.main-header .navbar-default .navbar-nav > li > a {
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #000;
    font-size: 14px;
    padding: 12px 0;
    text-transform: uppercase;
}
.main-header .navbar-default .navbar-nav > li > a:hover {
    border-bottom-color: #f76139;
}
.main-header .navbar-default .navbar-nav > .open > a, .main-header .navbar-default .navbar-nav > .open > a:focus, .main-header .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    border-bottom-color: #f76139;
}
.main-header .navbar-default .navbar-nav > .active > a, .main-header .navbar-default .navbar-nav > .active > a:focus, .main-header .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-bottom-color: #f76139;
}
.mainmenu{
    padding-top: 30px
}
.dropdown-menu {
    border: 1px solid #f76139;
    border-radius: 0;
}
.logo {
    margin: 0;
    padding: 0;
}
.logo img {
    max-width: 240px;
    width: 100%;
}
.navbar-default .navbar-toggle {
    border-radius: 0;
    margin: 0 15px 0 0;
    padding: 10px;
}
.navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #77933c;
    border: 0 none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-brand {
    height: auto;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0 none;
}
.link-user a {
    background: rgba(0, 0, 0, 0) url("../images/icon-user.png") no-repeat scroll 0 15px;
    padding-left: 20px !important;
}
.slider {
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
}
.flex-container a:hover, .flex-slider a:hover {
    outline: medium none;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
}
.flexslider .slides img {
    display: block;
    width: 100%;
}
.flexslider .slides::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.announcement h3 {
    color: #77933c;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 40px 0 0;
    text-transform: uppercase;
}
.copyright {
    color: #333;
    padding: 15px 0;
}
.page-content {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.page-content img {
    max-width: 100%;
}
.sidebar .block {
    background-color: #c3d69b;
    clear: both;
    margin-bottom: 20px;
    padding-top: 15px;
}
.sidebar .block h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 8px;
    text-align: center;
    text-transform: uppercase;
}
.block-content {
    background-color: #fff;
}
.list-featured-restaurants {
    margin: 0;
    padding: 0;
}
.list-featured-restaurants li {
    border-bottom: 15px solid #c3d69b;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.list-featured-restaurants li div {
    width: 100% !important;
}
.list-featured-restaurants li div img {
    height: 120px;
}
.page-title {
    border-bottom: 1px solid #f7623a;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0 0 8px;
    text-transform: uppercase;
}
.logos-res-list img {
    max-width: 150px;
    width: 100%;
}
.cl {
    clear: both;
    height: 0;
    overflow: hidden;
}
.btn-primary {
    background-color: #f7623a;
    border: 0 none;
    color: #fff;
    font: bold 18px "Century Gothic",Arial,Verdana;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color: #f7623a;
    color: #fff;
    opacity: 0.9;
}
.style10 {
    text-align: justify;
}
.redfont {
    color: #77933c;
}
.allpara {
    display: none;
}
.author {
    float: right;
    font-style: italic;
    font-weight: bold;
}
.link {
    color: #f7623a;
}
.link:hover {
    color: #f7623a;
}
.notice {
    color: red;
}
.pad_25 {
    padding-left: 25%;
}
.error {
    color: red;
}
.input-txt {
    width: 320px;
}
.static_subtitle {
    font-weight: bold;
}
.page-main-article p {
    text-align: justify;
}
a.links:hover {
    color: #77933c;
}
.style47 {
    color: #999999;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
.style30 {
    font-size: 14px;
    font-weight: bold;
}
.btn {
    background-color: #f7623a;
    color: #fff;
    font-weight: bold;
}
.btn.active, .btn:active, .btn.focus, .btn:focus, .btn:hover {
    background-color: #f7623a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.cl10 {
    clear: both;
    height: 10px;
    overflow: hidden;
}
.static_subtitle {
    text-align: justify;
}